.container{
    padding: 7rem 30px 2rem
}

.imgContainer{
    width: 100%;
    height: 300px;
    position: relative;
}

.img{
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

.imgText{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--main-color);
    padding: 15px;
    color: white;
}

.textContainer{
    display: flex;
    gap: 80px;
}

.item{
    flex: 1;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
}

.list{
    padding-left: 20px;
    display: inline-block;
    margin: 0;
    font-style: 18px;
    font-weight: 300;
}

.description{
    font-style: 18px;
    font-weight: 300;
    text-align: justify;
}

@media (max-width: 768px) {
    .textContainer{
        flex-direction: column;
        gap: 0px;
    }
    .imgText{
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 15px;
        color: white;
    }
}