.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--main-color);
  font-size: 25px;
  transition: 0.4s;
  display: inline-block;
}

.link:hover {
  transform: translateY(-8px);
}
