.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 40px 0;
  background-color: yellow;
}

.container {
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  transition: 0.4s;
  position: relative;
}
.image {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px 10px 0px 0px;
  transition: 0.4s;
}

.container:hover .image {
  filter: grayscale(1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  width: 100%;
}

.secondary {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  filter: brightness(0.5);
}

.hover {
  background-color: transparent;
  height: 7px;
  position: absolute;
  bottom: -1px;
  border-radius: 0px 0px 10px 10px;
  left: 0;
  width: 100%;
  transition: 0.5s;
}

.container:hover .hover {
  background-color: var(--main-color);
}

.loading{
  animation: loading 1s linear infinite alternate;
  background-color: grey;
}

.loadingMainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.loadingContainer {
  height: 300px;
  border-radius: 10px;
  margin: 40px 0;
}

.loadingText{
  width: 100px;
  height: 5px;
  margin: 10px 0;
}

.loadingTextShort{
  width: 270px;
  height: 5px;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .container {
    flex-direction: column;
    gap: 0px;
    border: 1px solid gray;
    border-radius: 10px;
  }
}

@keyframes loading {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}